[submodule "simpleini"]
	path = simpleini
	url = https://github.com/brofield/simpleini.git
[submodule "ascii_art"]
	path = ascii_art
	url = https://github.com/symisc/ascii_art.git
[submodule "cpp-subprocess"]
	path = cpp-subprocess
	url = https://github.com/arun11299/cpp-subprocess.git
